# This workflow will build and test a Swift project

name: Swift

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
